<div class="widget p-lg text-center">
    <div class="m-b-md">
        <span style="font-size:30px;">
            <i class="fa fa-search fa-5x"></i>
        </span>
        <br />
        <br />
        <h1 class="m-xs">@SharedStrings.NoResult</h1>
    </div>
</div>