@model HandleErrorInfo

@{
    ViewBag.Title = SharedStrings.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@SharedStrings.LockedOut</h1>
    <h2 class="text-danger">@SharedStrings.AccountLockedOut</h2>
</hgroup>
