@{
    ViewBag.Title = SharedStrings.NotFound;
}

<div class="wrapper wrapper-content">
    <div class="error-page text-center">
         <h1 class="error">404</h1>
         <h3>@SharedStrings.NotFound</h3>
        <a class="btn bg-primary-color" href="@Url.Action("Index","Home")">@SharedStrings.BackToHome</a>
    </div>
</div>