@using Swazer.ShoppingList.WebApp.Models;

@{
    ViewBag.Title = "Home";
}

@Html.Partial("_Breadcrumb", new BreadcrumbModel(new BreadItem("")))

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content"></div>
            </div>
        </div>
    </div>
</div>