/* 
Table of contents
===========================================
- General Style
- Utility Classes
- Modal Window
- Button Style
- Form Elements
- Page Header
- Breadcrumb
- Tab
- Pagination
- Section Title
===========================================
*/


/*
------------------------------------
- General Style
------------------------------------
*/





/*
------------------------------------
- Form Elements
------------------------------------
*/


/*
------------------------------------
- Page Header
------------------------------------
*/


/*
------------------------------------
- Bread Crumb
------------------------------------
*/


/*
------------------------------------
- Pagination
------------------------------------
*/

.item img {
    display: block;
    width: 100%;
    height: auto;
}
.pagination {
    margin: 20px 0px 0px;
}
.pagination > li > a,
.pagination > li > span {
    background-color: transparent;
    border: 2px solid #d9d9d9;
    border-radius: 0px;
    color: #000;
    margin-right: 10px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0px;
}
.pagination > .active > a,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: transparent!important;
    border: 2px solid #000;
    color: #000;
}
.pagination > li > a.more-pagination {
    border: 2px solid transparent;
}

/*
------------------------------------
- Section Title
------------------------------------
*/


/* 
---------------------------------
- Customize Owl Carousel
---------------------------------
*/

.owl-carousel .owl-item img {
    width: auto !important;
    max-width: 100% !important;
    margin: auto !important;
}
.owl-dots {
    width: 100%;
    height: 30px;
    text-align: center;
}
.owl-dot {
    background: #ededed;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.owl-dot.active {
    background: #f9f9f9;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
