@{
    ViewBag.Title = AccountStrings.LoginFailure;
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 ">
            <div id="register-form" class=" register-form-container background-img-heart-beat">
                <div class="text-center">
                    <img class="logo-img" src="~/Content/home/images/logo.png" alt="logo" />
                </div>
                <h3 class="text-danger">@AccountStrings.UnsuccessfulLogin</h3>
                <div class="form-group">
                    <a href="@Url.Action("Login", "Account")" class="btn btn-md btn-default bg-secondary-color register-btn">@AccountStrings.Login</a>
                </div>
            </div>
        </div>
    </div>
</div>