<div class="footer noPrint">
    <div class="flip pull-left">
        <strong>@SharedStrings.CopyRight</strong> @SharedStrings.ClinicReservation &copy; @DateTime.Now.Year @SharedStrings.BySwazer
    </div>
</div>
