@using Swazer.ShoppingList.Core;

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span id="userAvatar">
                        <span>@User.GetFullName()</span>
                    </span>
                </div>
                <div class="logo-element"></div>
            </li>

            <li class="active">
                <ul class="nav nav-second-level">

                </ul>
            </li>
        </ul>
    </div>
</nav>