

/*#banner p {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

a.special:not(.button) {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

label {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

#header nav {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

#menu .links li a {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

#wrapper > header p {
    font-family: Droid-Arabic-Kufi;
    letter-spacing: 0.0em;
}

p {
    text-align: right;
}

div {
    text-align: right;
}

input {
    text-align: right;
}

.select-wrapper:before {
    right: 90%;
    line-height: 2.75em;
}*/
