select,
select.form-control {
    background-position: left 10px center;
}

/* those for styles for overriding Home page */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav-header {
    padding-right: 7px;
}

/* those styles for overriding the tanmiagrp.ui.chosen styles*/
.chosen-container-single .chosen-single span {
    display: block;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    width: 18px;
}

.chosen-container .chosen-drop {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: 9000px;
    z-index: 1060;
}

.li-class {
    margin-bottom: 15px;
    color: #9f9f9f;
    text-align: right;
}

/* override some classes for the tree-table which exists in the Site.css file */
/*.treetable-collapse {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -96px -17px;
    display: inline-block;
    cursor: pointer;
}

.treetable-expand {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -80px -17px;
    display: inline-block;
    cursor: pointer;
}
*/

/* override some classes fro the tree-view which exists in the Site.css file */
/*
.treeview-collapse {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -96px -17px;
    display: inline-block;
    cursor: pointer;
}

.treeview-expand {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -80px -17px;
    display: inline-block;
    cursor: pointer;
}*/

/*.cuntactUs-Send {
    border-left-width: thin;
    border-left-style: dotted;
    border-right-width: thin;
    border-right-style: none;
}


.ct-legend li {
    position: relative;
    padding-left: initial;
    padding-right: 23px;
    margin-bottom: 3px;
    cursor: pointer;
}

    .ct-legend li:after {
        width: 12px;
        height: 12px;
        position: absolute;
        right: 0;
        left: initial;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
        margin-top: 4px;
    }

    .ct-legend li.inactive:after {
        background: transparent;
    }

.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: initial;
    left: 0;
}

.ct-legend .ct-series-0:after {
    background-color: #B3E5FC;
    border-color: #B3E5FC;
}

.ct-legend .ct-series-1:after {
    background-color: #29B6F6;
    border-color: #29B6F6;
}

.ct-legend .ct-series-2:after {
    background-color: #0277BD;
    border-color: #0277BD;
}

.ct-legend .ct-series-3:after {
    background-color: #d17905;
    border-color: #d17905;
}

.ct-legend .ct-series-4:after {
    background-color: #453d3f;
    border-color: #453d3f;
}
    */

/* override the old styles */
/*
.ct-legend .ct-series-0:before {
    background-color: transparent;
    border-color: transparent;
}

.ct-legend .ct-series-1:before {
    background-color: transparent;
    border-color: transparent;
}

.ct-legend .ct-series-2:before {
    background-color: transparent;
    border-color: transparent;
}

.ct-legend .ct-series-3:before {
    background-color: transparent;
    border-color: transparent;
}

.ct-legend .ct-series-4:before {
    background-color: transparent;
    border-color: transparent;
}*/

.li-class {
    margin-bottom: 15px;
    color: #9f9f9f;
    text-align: right;
}
