@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lot56g');
  src:  url('fonts/icomoon.eot?lot56g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lot56g') format('truetype'),
    url('fonts/icomoon.woff?lot56g') format('woff'),
    url('fonts/icomoon.svg?lot56g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sw-"], [class*=" sw-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size:40pt;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sw-x10{font-size:10pt !important;}
.sw-x15{font-size:15pt !important;}
.sw-x20{font-size:20pt !important;}
.sw-x25{font-size:25pt !important;}
.sw-x30{font-size:30pt !important;}
.sw-x35{font-size:35pt !important;}
.sw-x40{font-size:40pt !important;}
.sw-x45{font-size:45pt !important;}
.sw-x50{font-size:50pt !important;}
.sw-x55{font-size:55pt !important;}
.sw-x60{font-size:60pt !important;}
.sw-x65{font-size:65pt !important;}
.sw-x70{font-size:70pt !important;}

.sw-achieving_requests:before {
  content: "\e900";
}
.sw-android:before {
  content: "\e901";
}
.sw-appealing_ui_1:before {
  content: "\e902";
}
.sw-appealing_ui_2:before {
  content: "\e903";
}
.sw-apple:before {
  content: "\e904";
}
.sw-customer_privacy:before {
  content: "\e905";
}
.sw-data_and_analytical_reports:before {
  content: "\e906";
}
.sw-email:before {
  content: "\e907";
}
.sw-facebook:before {
  content: "\e908";
}
.sw-features:before {
  content: "\e909";
}
.sw-full_control_1:before {
  content: "\e90a";
}
.sw-full_control_2:before {
  content: "\e90b";
}
.sw-full_surveillance:before {
  content: "\e90c";
}
.sw-gallery:before {
  content: "\e90d";
}
.sw-google_plus:before {
  content: "\e90e";
}
.sw-human_management:before {
  content: "\e90f";
}
.sw-identity_customizability:before {
  content: "\e910";
}
.sw-kitchen_surveillance_unit:before {
  content: "\e911";
}
.sw-monitoring_request_states_1:before {
  content: "\e912";
}
.sw-multi_languages:before {
  content: "\e913";
}
.sw-our_apps_icon:before {
  content: "\e914";
}
.sw-play:before {
  content: "\e915";
}
.sw-request_managment:before {
  content: "\e916";
}
.sw-requests_notification:before {
  content: "\e917";
}
.sw-sections_1:before {
  content: "\e918";
}
.sw-sections_2:before {
  content: "\e919";
}
.sw-sessions_management:before {
  content: "\e91a";
}
.sw-smares_logo:before {
  content: "\e91b";
}
.sw-smares_maps:before {
  content: "\e91c";
}
.sw-social_media:before {
  content: "\e91d";
}
.sw-special_icon:before {
  content: "\e91e";
}
.sw-support_discounts_1:before {
  content: "\e91f";
}
.sw-support_discounts_2:before {
  content: "\e920";
}
.sw-support_discounts_3:before {
  content: "\e921";
}
.sw-twitter:before {
  content: "\e922";
}
.sw-youtube:before {
  content: "\e924";
}